.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/room/room13.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  /* cursor: url(handpointer.png), auto; */
}
body html {
  width: 100vw;
  margin: 0;
  height: 100vh;
}

img {
  width: 50px;
  height: auto;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
