.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
body html {
  width: 100vw;
  height: 100vh;
}
.Cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
p {
  font-size: 12px;
}
.Card {
  border-radius: 10px;
  box-shadow: 0px 1px 2px red;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 2%;
}
.categories {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.Cards {
  background: ivory;
  width: 100vw;
}
img {
  width: 50px;
  height: auto;
}

.dragable {
  position: absolute;
}
.audioplayer {
  position: absolute;
}
.dragable img {
  width: 100%;
  height: auto;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
