@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");
.meowbot {
  /* width: 20%; */
  /* margin: 0; */
  /* height: fit-content; */
  /* left: auto; */
  background-image: url("./assets/cellphone.png");
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-position: center;
  background-size: 98%;

  width: 456px;
  height: 800px;
  /* position: relative; */

  margin: auto;
}

.inputtext {
  display: flex;
  /* margin-left: auto; */
  padding: 5px;
  /* margin: auto; */
  margin-left: 60px;
  margin-top: 155px;
  width: 79%;
  /* position: relative; */
}
.text_area {
  flex: 1;
  padding: 10px;
  border: none;
}
.send_area {
  margin-right: 20px;
  background-color: white;
  font-weight: bolder;
  color: coral;
  border: none;
}

.messages {
  top: 149px;
  overflow-y: scroll;
  margin: auto;
  /* margin-left: 50px; */
  position: relative;
  height: 455px;
  width: 72%;
  color: #6a6a6a;
  display: flex;
  flex-direction: column;
}
.catmessages {
  font-family: "Cute Font", cursive;
  font-size: 30px;
  border-radius: 20px;
  background-color: lightcyan;
  margin-right: auto;
  padding: 0px 7px;
  text-align: center;
}
.usermessages {
  font-family: "Cute Font", cursive;
  font-size: 30px;
  border-radius: 20px;
  background-color: lightpink;
  margin-left: auto;
  padding: 0px 7px;
}
